<html>
  <head><title>Ops Dash</title></head>
  <body>
    <h1>What's in the pipes</h1>
{{range .RepoChangelogs }}
    <h2>{{ .Repository.Name }}</h2>
    <div>
      <h3>Dev > Stg</h3>
  {{range .CommitsStg }}
      <div>
        <p>
          <img src="{{ .Author.AvatarURL }}" width="60px" />
          {{ .Commit.Message }}
          <a href="{{ .HTMLURL }}">View Commit</a>
        </p>
      </div>
  {{ end }}
      <h3>Stg > Prd</h3>
  {{range .CommitsPrd }}
      <div>
        <p>
          <img src="{{ .Author.AvatarURL }}" width="60px" />
          {{ .Commit.Message }}
          <a href="{{ .HTMLURL }}">View Commit</a>
        </p>
      </div>
  {{ end }}
    </div>
{{ end }}
  </body>
</html>
