{{ define "content" }}
      <div class="container">
  {{ range $index, $repoChangelog := .RepoChangelogs }}
    {{ if .HasChangelogCommits }}
        <div class="row changelog">
          <div class="col s12 changelog-title">
              <h2><a class="black-text" href="{{ .Repository.HtmlUrl }}" target="_blank"><i class="material-icons left">link</i>{{ .Config.Name }}</a></h2>
          </div>
      {{ $length := len .ChangelogCommits }}
      {{ range .ChangelogCommits }}
          <div class="col s{{ dividetoint 12 $length }}">
            <div class="card z-depth-1 blue lighten-1">
              <div class="card-toolbar">
                <div class="card-toolbar-title white-text"><i class="material-icons left">equalizer</i>{{ .ToRef }} > {{ .FromRef }}</div>
              </div>
              <div class="card-content">
        {{ if .Commits }}
          {{ range .Commits }}
                <div class="row">
                  <div class="col s1">
                    <img src="{{ if .AuthorAvatarUrl }}{{ .AuthorAvatarUrl }}{{ else }}/static/img/octocat.jpg{{ end }}" class="circle responsive-img" />
                  </div>
                  <div class="col s11">
                    <span class="white-text">{{ .Message }}</span>
                    <div class="card-link"><span><a class="white-text" href="{{ .HtmlUrl }}" target="_blank"><i class="material-icons left">link</i>View Commit</a></span></div>
                  </div>
                </div>
          {{ end }}
        {{ else }}
                <div class="row">
                  <div class="col s1">
                    <i class="material-icons dp48 left white-text">broken_image</i>
                  </div>
                  <div class="col s11">
                    <span class="white-text">No changes to release</span>
                  </div>
                </div>
        {{ end }}
              </div>
            </div>
          </div>
      {{ end }}
        </div>
    {{ end }}
  {{ end }}
      </div>
{{ end }}
