<html>
  <head>
    <title>Ops Dash</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <h1>What's in the pipes</h1>
{{range .RepoChangelogs }}
    <h2>{{ .Repository.Name }}</h2>
    <div>
  {{range .ChangelogCommits }}
      <h3>{{ .ToTag }} > {{ .FromTag }}</h3>
    {{range .Commits }}
      <div>
        <p>
          <img src="{{ .Author.AvatarURL }}" width="60px" />
          {{ .Commit.Message }}
          <a href="{{ .HTMLURL }}">View Commit</a>
        </p>
      </div>
    {{ end }}
  {{ end }}
    </div>
{{ end }}
    <script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
  </body>
</html>
