body {
    background-color: #eaeaea;
    font-size: 12px;
}

.container {
    max-width: none;
    width: 85%;
}

h2 {
    font-size: 16px;
    margin: 10px 0;
}

.navbar-fixed,
.navbar,
.nav-wrapper {
    height: 50px;
    line-height: 50px;
}

nav.navbar .brand-logo {
    font-size: 14px;
    margin: 16px 0 0 0;
    text-transform: uppercase;
}

.material-icons {
    line-height: 0.8;
}

.changelog {
    margin-bottom: 0;
}

.changelog-title h2 .material-icons {
    margin: 0 5px 0px 0px;
}

.card .card-toolbar {
    font-weight: bold;
    padding: 16px 24px 0 24px;
}

.card .card-content {
    padding: 10px 24px 2px 24px;
}

.card .card-link {
    padding-top: 10px;
}

.card .card-link a {
    font-size: 10px;
}

.card .card-link .material-icons {
    font-size: 18px;
    margin-right: 5px;
}

.grey-text {
    color: #424242;
}
