body {
    background-color: #f4f4f4;    
}

h1 {
    font-size: 3.4em;
}

h2 {
    font-size: 1.7em;
}

.card {
    background-color: #ffc400;
}


.container-stg-container-prd .card {
    background-color: #ff4081;
}

.card .card-toolbar {
    padding: 24px 24px 0px 24px;
}

.card .card-content {
    padding-bottom: 6px;
}

.card .card-link {
    padding-top: 10px;
}

.grey-text {
    color: #424242;
}