body {
    background-color: #f4f4f4;    
}

h1 {
    font-size: 3.4em;
}

h2 {
    font-size: 1.7em;
    margin: 10px 0;
}

.changelog-even,
.changelog-odd {
    margin-bottom: 0;
} 

.changelog-even .card {
    background-color: #ffc400;
}

.changelog-odd .card {
    background-color: #7c4dff;
}

.card .card-toolbar {
    padding: 24px 24px 0 24px;
}

.card .card-content {
    padding-bottom: 6px;
}

.card .card-link {
    padding-top: 10px;
}

.card .card-link a {
    font-size: 0.9em;
}

.card .card-link .material-icons {
    font-size: 1.7em;
    margin-right: 5px;
}

.grey-text {
    color: #424242;
}